@import "tailwindcss";

body {
  font-family: "Playfair", serif;
}


.font-inter {
  font-family: "Inter", sans-serif;
}


.custom-radio {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid #bca46d50; /* soft outer ring */
  background: white;
  outline: none;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
}

.custom-radio:checked {
  border-color: #b99742;
}

.custom-radio::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #b99742; /* inner dot */
  transform: scale(0);
  transition: 0.2s ease-in-out;
}

.custom-radio:checked::after {
  transform: scale(1);
}
